.root {
  width: 250px;
  display: grid;
  grid-template-columns: repeat(2, 110px);
  grid-template-rows: repeat(6, min-content);
  column-gap: 28px;
  row-gap: 12px;
  color: #5a768f;
}

.formTitle {
  font-size: 20px;
  grid-column: 1 / 3;
  line-height: 1;
  margin-bottom: 14px;
  font-family: "Inter", sans-serif;
}

.submitButton {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  height: 38px;
  border-radius: 6px;
  border: none;
  background-color: #655dff;
  color: #ffffff;
  justify-self: stretch;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
}

.submitButton:focus {
  outline: none;
}

.submitButton:hover {
  background: #4f46f8;
}
