.root {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: stretch;
  padding-bottom: 5px;
  color: #92acc4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.root svg {
  color: #8e8aff;
  position: absolute;
  font-size: 20px;
  top: 41px;
  margin-left: 6px;
  color: #8e8aff;
  stroke: #655dff;
}

.countrySelectLabel {
  pointer-events: none;
  font-size: 14px;
  padding: 0 0 10px 0;
  line-height: 1;
  color: #92acc4;
}

.countrySelectInput {
  padding: 10px 10px 10px 30px;
  margin: 10px 0;
  width: 100%;
  border: none;
  background: transparent;
  border-radius: 6px;
  border: solid 1px #c8dbf0;
  color: #655dff;
  font-family: inherit;
  font-size: 14px;
}

.countrySelectInput:focus {
  outline: none;
}

.countrySelectInput:hover {
  border: 1px solid #8e8aff;
}

.countrySelectOption {
  border-radius: 6px;
  border: solid 1px #c8dbf0;
}

.countrySelectOption:active {
  border-radius: 6px;
  border: solid 1px #c8dbf0;
}
